.Navbar {
  &-list {
    display: flex;
    align-items: center;
    &-item {
      &-link {
        display: block;
        padding: 2rem;
        &.active {
          color: $color-white;
          background-color: $color-primary;
        }
      }
    }
  }
}
